.module
  %h1 Register
  .content
    .rsvp
      Please RSVP below. You may return and change this information later.
  
      =form_tag(:action => "update_rsvp", :method => "post") do
        .rsvp-user
        %label
          Full Name
          %input{:type=>'text', :name=>"user_name"}
    
        %label
          Email
          %input{:type=>'text', :name=>"user_email"}
      
        %label
          Username
          %input{:type=>'text',:name=>"user_name"}
    
        %fieldset
          .fieldset-header 
            Attending
          %label
            %input{:type=>'radio',:name=>'attending',:value=>'false'}
            Yes
          %label
            %input{:type=>'radio',:name=>'attending',:value=>'false'}
            No
        
        - if @active_user.guest
          = "Guest (leave blank if you are not bringing a guest)" if !@active_user.guest.name
          .rsvp-user
            = label_tag("guest_name", "Full Name")
            = text_field_tag("guest_name", @active_user.guest.name)
            = label_tag("guest_email", "Email")
            = text_field_tag("guest_email", @active_user.guest.email)
            = radio_button_tag("guest_attending", "true", @active_user.guest.attending? && !@active_user.guest.name.blank?)
            = label_tag("guest_attending_true", "Attending")
            = radio_button_tag("guest_attending", "false", !@active_user.guest.attending? || @active_user.guest.name.blank?)
            = label_tag("guest_attending_false", "Not Attending")
      
        = submit_tag("RSVP")
    