.module
  %h1 Honeypot
  .content
    .honeypot
      .info
        %p
          Something about not requiring presents, but if you want, take a look at the list below, choose the things you wish to purchase for us, bring cheque or cash to the wedding.
  
      = form_tag({:action=>"update_menu_for_user", :method=>"post"}) do
        %input{ :type => 'hidden', :name => 'item-counts' }
        %ul
          - RegistryItem.all.each do |item|
            %li{ :class => (item.num_available_to_user(@active_user) > 0 ? 'available clearfix' : 'unavailable clearfix'), 'data-item-id' => item.id }
              .alpha
                = image_tag "registry/#{item.img}"
              .beta
                %h2
                  = item.title
                %p.description
                  = item.description
                .selection
                  %select.count{ 'data-num-available' => item.num_available_to_user(@active_user) }
                    - (0..item.num_available_to_user(@active_user)).each do |option|
                      %option{ :value => option, :selected => (option == item.num_reserved_by_user(@active_user) ? 'selected' : nil) }
                        = option
                  .quantity
                    %span.num_available
                      = item.num_available
                    of
                    %span
                      = item.quantity
                    available
        %button{:type=>'submit'}
          Save Selection
        
        %script{:src=>'/javascripts/registry.js'}