<!DOCTYPE html>
%html
  %head
    %title Nicole and Ken
    = stylesheet_link_tag :all
    = csrf_meta_tag
    %script{:src=>'/javascripts/jquery-1.4.4.min.js'}
    %script{:src=>'http://maps.googleapis.com/maps/api/js?key=AIzaSyDapyZvURiD4vTi0iBm3yfeabbbYfRSml0&sensor=false'}
    %script{:src=>'/javascripts/main.js'}
  %body{:class => @first_visit ? nil : "visited"}
    .header
      .img-wrapper
        = image_tag '/images/tree.png', {:class => 'tree', :cache => true}
      
      .navigation-hack
        = image_tag '/images/names.png', {:class => 'names'}
        .navigation
          .wrapper
            %ul
              %li= link_to "Details", :controller => 'home'
              %li= link_to "Lodging", :controller => 'lodging'
              %li= link_to "RSVP", :controller => 'rsvp'
              %li= link_to "Menu", :controller => 'menu'
              %li= link_to "Registry", :controller => 'registry'
              %li= link_to "Survival Guide", :controller => 'map'
      
    .main-container
      .content-container
        - if flash && flash[:notice_messages]
          - flash[:notice_messages].each do |cls, msgs|
            %div{:class => cls}
              %ol
                - msgs.each do |msg|
                  %li
                    = msg
        = yield
